.devlisting__container{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;  
}

/* Carrousel DevListing */
.swiper-slide{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: var(--bg-container);
  padding: .5rem 1.25rem;
  z-index: 1;
  border-radius: 50%;
}
.swiper{
  margin-top : -5rem;
}

/* Card Dev */
.card__container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 250px;
  max-width: 100%;
}
.card{
  background-color: rgba(249,249,249,.14);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: .5rem;
}
.card__avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}
.card__avatar img{
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--primary-color);
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 2rem;
}
.card__avatar::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: .5rem;
  background-color: var(--primary-color);
}
.card__info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.75rem;
}
.card__name{
  font-family: var(--font-maven);
  color: var(--opaque-white);
  font-weight: 400;
  font-size: 1.75rem;
}
.card__description{
  font-family: var(--font-maven);
  color: var(--opaque-white);
  font-weight: 400;
  font-size: .85rem;
}
.card__actions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.card__links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  color: var(--opaque-white);
}
.card__link_icon{
  transition: all ease .3s;
  color: var(--opaque-white);
  font-size: 1.1rem;
  cursor: pointer;
}
.card__link_icon:hover{
  color: var(--primary-color);
  transform: translateY(-.3rem);
}
.container__actions{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem
}
.container__actions .button{
  width: 100%;
  color: #0E0D0D;
  font-weight: 600;
}

/* Main Footer */
.main__footer{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  bottom: 1rem;
  font-family: var(--font-maven);
}
.main__footer a{
  color: var(--primary-color);; 
}
.main__footer a:hover{
  text-decoration: underline;
}

/* New Dev Form */
.dev__form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  overflow-y: auto;
}
.form__avatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.form__image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid var(--primary-color);
  object-fit: cover;
  margin-bottom: 2rem;
}
.form__avatar .form__input_group{align-items: center;}
.form__input_group{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .25rem;
  flex-direction: column;
  width: 100%;
  margin-top: .5rem;
}
.form__label{
  color: var(--opaque-white);
  font-family: var(--font-maven);
}
.form__input{
  width: 100%;
  padding: .5rem .75rem;
  border-radius: .5rem;
  color: var(--color-letter);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form__inputs{
  width: 100%;
}