.devlisting__container{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;  
}

/* Carrousel DevListing */
.swiper-slide{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: var(--bg-container);
  padding: .5rem 1.25rem;
  z-index: 1;
  border-radius: 50%;
}
.swiper{
  margin-top : -5rem;
}

/* Card Dev */
.card__container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
}
.card{
  background-color: rgba(249,249,249,.14);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: .5rem;
  min-height: 420px;
}
.card__avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}
.card__avatar img{
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--primary-color);
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 2rem;
}
.card__avatar::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: .5rem;
  background-color: var(--primary-color);
}
.card__info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.75rem;
}
.card__name{
  font-family: var(--font-maven);
  color: var(--opaque-white);
  font-weight: 400;
  font-size: 1.75rem;
}
.card__description{
  font-family: var(--font-maven);
  color: var(--opaque-white);
  font-weight: 400;
  font-size: .85rem;
  text-align: center;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card__office{
  margin: .5rem 0 1rem 0;
  font-size: .75rem;
  font-weight: bold;
  font-family: var(--font-maven);
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--opaque-white);
  padding: .3rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
.card__actions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.card__links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  color: var(--opaque-white);
}
.card__link_icon{
  transition: all ease .3s;
  color: var(--opaque-white);
  font-size: 1.1rem;
  cursor: pointer;
}
.card__link_icon:hover{
  color: var(--primary-color);
  transform: translateY(-.3rem);
}
.container__actions{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem
}
.container__actions .button{
  width: 100%;
  color: #0E0D0D;
  font-weight: 600;
}

/* Main Footer */
.main__footer{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  bottom: 1rem;
  font-family: var(--font-maven);
}
.main__footer a{
  color: var(--primary-color);; 
}
.main__footer a:hover{
  text-decoration: underline;
}

/* New Dev Form */
.dev__form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  overflow: hidden;
  overflow-y: auto;
}
.button__github_load{
  margin-top: 1rem
}
.form__avatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.form__image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid var(--primary-color);
  object-fit: cover;
  margin-bottom: 2rem;
}
.form__avatar .form__input_group{align-items: center;}
.form__input_group{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: .25rem;
  flex-direction: column;
  width: 100%;
  margin-top: .5rem;
}
.form__label{
  color: var(--opaque-white);
  font-family: var(--font-maven);
  transition: all ease .3s;
}
.form__label.invalid__input{
  color: var(--danger-color)
}
.form__input{
  width: 100%;
  padding: .5rem .75rem;
  border-radius: .5rem;
  color: var(--color-letter);
  transition: all ease .3s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.invalid__input{
  animation: bounce 1s infinite alternate;
  transition: all ease .3s;
  -webkit-animation: shake 1s infinite alternate;
}
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}
.form__inputs{
  width: 100%;
}
.devs__blobs_top{
  position: absolute;
  right:0;
  top: -30%;
  transform: rotate(180deg);
  z-index: -1;
}
.devs__blobs_botton{
  position: absolute;
  left: -10%;
  bottom: -20%;
  z-index: -1;
}

@media (max-width: 980px){
  .devs__blobs_top{
    position: absolute;
    right: 0;
    top: -35%;
    transform: rotate(180deg);
  }
  .devs__blobs_botton{
    position: absolute;
    left: -150px;
    bottom: -47%;
  }
}