@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&family=Overpass:wght@100;300;400;600&display=swap');

:root{
  --bg-color: #1D1D1D;
  --clear-detail: #fff;
  --primary-color: #27AE60;
  --color-letter: #A9A9A9;
  --danger-color: #F42626;
  --edit-color: #DBB801;
  --opaque-white: #F9F9F9;

  --font-maven: 'Maven Pro', sans-serif;
  --font-overpass: 'Overpass', sans-serif;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-color: var(--bg-color); color: var(--color-letter);}
a{text-decoration: none; color: var(--color-letter);}